.space
  height: 100%
  background: url('/public/images/space.jpg') no-repeat
  background-size: cover
  
.rocket
  height: 100%
  background: url('/public/images/rocket.png') no-repeat
  background-position: center -40px

.floating-block
  width: 500px
  padding: 40px
  margin: 0 auto 0 auto
  +border-radius(4px)
  background: #eee
  +box-shadow(1px 2px 2px rgba(100, 100, 100, .4))
  .switcher
    margin: -52px auto 50px auto
  .save-button
    width: 200px
    
.login-block
  margin: 0 auto
  padding-left: 95px
  position: relative
  top: 190px
  text-align: center
  width: 265px
  .switcher
    margin: 0 auto 20px auto
  .account_tab_box
    display: none
    &.active
      display: block
  input[type='text'],  input[type='password']
    text-align: center
    &::-webkit-input-placeholder
      font-style: italic
      
.option_box
  display: none
  &.opened
    display: block
    
.update-interval
  label
    width: 100px
  select
    width: 100px
    
.custom-format
  label
    width: 120px
  .textfield
    width: 410px
   
.switcher
  list-style: none
  width: 185px
  &.options    
    width: 162px
  li
    float: left
    a
      display: inline-block
      +vertical-gradient(#ececec, #b4b4b4)
      padding: 3px 15px
      margin-left: -1px
      color: #000
      border: 1px solid #b8b8b8
      border-bottom: 1px solid #928f8b
    &:first-child a
      +border-radius(4px 0 0 4px)
    &:last-child a
      +border-radius(0 4px 4px 0)
    & .active
      background: #666666
      color: #fff
      border-color: #444444
      