.space
  height: 100%
  background: url('/public/images/space.jpg') no-repeat
  background-size: cover
  
.rocket
  height: 100%
  background: url('/public/images/rocket.png') no-repeat
  background-position: center -40px

.options-holder
  width: 570px
  margin: 0 auto
  padding-top: 170px
  background: url('/public/images/options_rocket_left.png') no-repeat 176px 120px
  &.accounts
    background: url('/public/images/options_rocket_right.png') no-repeat 240px 120px
  h3
    color: #fff
    font-size: 16px
    text-align: center
    margin-bottom: 20px
  
.options-block
  padding: 25px
  background: url('/public/images/settings_bg.png')
  +border-radius(4px)
  .muted
    color: #555555
  .switcher
    position: relative
    margin: 0 auto
    top: -36px
  .save-button
    width: 200px
  
.login-block
  margin: 0 auto
  padding-left: 95px
  position: relative
  top: 190px
  text-align: center
  width: 265px
  .switcher
    margin: 0 auto 20px auto
  .account_tab_box
    display: none
    &.active
      display: block
  input[type='text'],  input[type='password']
    text-align: center
    &::-webkit-input-placeholder
      font-style: italic
      
.option_box
  display: none
  &.opened
    display: block
    
.update-interval
  label
    width: 100px
  select
    width: 100px
    
.custom-format
  label
    width: 120px
  .textfield
    width: 420px
   
.switcher
  list-style: none
  width: 185px
  &.options    
    width: 162px
  li
    float: left
    a
      display: inline-block
      +vertical-gradient(#ececec, #b4b4b4)
      +box-shadow(0px 1px 1px rgba(100,100,100,.5))
      padding: 2px 15px
      margin-left: -1px
      color: #000
      border: 1px solid #b8b8b8
      border-bottom: 1px solid #928f8b
    &:first-child a
      +border-radius(4px 0 0 4px)
    &:last-child a
      +border-radius(0 4px 4px 0)
    & .active
      background: #666666
      color: #fff
      border-color: #444444
      