.projects-list
  margin: 5px 10px
  list-style: none

.project_element
  border-top: 1px solid #c0bcb8
  border-bottom: 1px solid #e6e3e1
  padding: 4px 0
  .project-link
    height: 46px
    +border-radius(4px)
    position: relative
    .project-inner
      padding: 10px 30px 0 48px
    .icon-placeholder
      display: none
      background: #424c5c
    .icon, .icon-placeholder
      position: absolute
      width: 32px
      height: 32px
      top: 7px
      left: 8px
      +border-radius(16px)
    .project-name
      font-size: 16px
      white-space: nowrap
      overflow-x: hidden
      margin-bottom: 2px
    .project-velocity
      display: none
      font-size: 11px
      font-weight: bold
    .stories-count
      color: #555
      position: absolute
      right: 8px
      top: 10px
    &:hover
      background: #596475
      cursor: pointer
      .project-name, .stories-count
        color: #fff
      .project-velocity, .icon-placeholder
        display: block
  &.active .project-link
    width: 100%
    padding-right: 14px
    background: #596475 url('/public/images/icons/project_arrow.png') no-repeat right -1px
    .stories-count
      right: 22px
      color: #fff
    .project-name
      color: #fff
    .project-velocity, .icon-placeholder
      display: block

.droppable-zone
  text-align: center
  background: #dedede
  .preview
    width: 50px
    height: 50px
    +border-radius(25px)
    margin-bottom: 20px

.all-projects-link
  position: relative
  font-size: 16px
  color: #000
  margin: 10px 10px 0 10px
  display: block
  padding: 10px 0 10px 50px
  +border-radius(4px)
  .icon
    position:  absolute
    top: 3px
    left: 10px
  &:hover, &.active
    color: #fff
    background: #596475
    +box-shadow(0 2px 2px rgba(0,0,0,.3))

.project-stories .project-name
  padding: 10px
  font-weight: bold
  border-top: 1px solid rgba(255,255,255, .3)
  +border-radius(4px)
  +vertical-gradient(#838b97, #696f79)
  .total-stories
    float: right
    color: #fff
    font-weight: normal