.story
  +border-radius(4px)
  +box-shadow(0 20px 20px rgba(100,100,100,.2))
  .inner
    padding: 15px
  .switchable-block
    .switched-state
      display: none
    &.adding, &.deleting, &.editing
      .switched-state
        display: block
      .initial-state
        display: none
  .delete-link
    float: right
  ul
    list-style: none
  .story-summary
    .item
      +clearfix
      line-height: 18px
      margin-bottom: 8px
    .story-link
      float: left
      margin-right: 5px
    .story-id
      float: left
      height: 18px
    .story-type, .story-points, .story-state
      text-transform: capitalize
    .story-type-icon
      float: left
      position: relative
      top: 2px
      margin-right: 5px
  .story-form
    margin-bottom: 30px
  .label_field
    position: relative
  .story-tasks
    margin-bottom: 30px
    li
      cursor: move
      margin-bottom: 3px
    .task-block
      padding: 5px
      position: relative
      +border-radius(5px)
      $shadow: 0 0 2px rgba(0,0,0,.2)
      +box-shadow($shadow)
      .task_element_label
        display: inline-block
        padding-right: 50px
  .story-comments
    margin-bottom: 30px
    .comment-block
      word-wrap: break-word
      position: relative
      background: #faf6f2
      padding: 10px 20px 10px 10px
      +border-radius(5px)
      +box-shadow(1px 2px 2px rgba(0,0,0,.2))
      .close-link
        position: absolute
        top: 5px
        right: 5px
    .delete-confirmation
      +border-radius(5px)
  .story-attachments
    .attachment-block
      height: 32px
      background: url('/public/images/icons/attachment.png') no-repeat left
      padding-left: 30px
  .story-deleting
    margin-bottom: 20px

  .task-filter .active
    color: #000
    cursor: text
  img.ui-datepicker-trigger
    float: left
    margin-right: 5px
    
  .story-release-date .close-link
    position: relative
    top: 4px
    
.task-list
  &.completed
    .story-task
      display: none
      &.completed-task
        display: block
        
  .ui-state-highlight
    min-height: 25px
    border: none
    background: #ddd

  &.uncompleted
    .story-task.completed-task
      display: none
      
.delete-confirmation
  background: #cc3300
  color: #fff
  padding: 10px 15px
  .cancel-link
    color: #eee
    &:hover
      color: #fff

.close-link
  display: inline-block
  width: 13px
  height: 13px
  background: url('/public/images/icons/close-icon.png') no-repeat 2px 2px
  &:hover
    background-color: rgba(100, 100, 100, .3)

.edit-link
  display: inline-block
  width: 13px
  height: 13px
  background: url('/public/images/icons/edit-icon.gif') no-repeat 2px 2px
  &:hover
    background-color: rgba(100, 100, 100, .3)
     
.entry-controlls
  position: absolute
  top: 5px
  right: 10px

.story-header
  border-bottom: 1px solid rgba(100,100,100,.1)
  box-shadow: 0 1px 0 rgba(255,255,255,0.7)
  padding: 3px 10px 3px 0
  margin-bottom: 10px
  text-shadow: 0 1px 0 rgba(255,255,255,0.5)
  line-height: 17px
  h2
    font-size: 15px