.story
  padding: 15px
  +border-radius(4px)
  +box-shadow(0 0 4px rgba(0,0,0,.2))
  .switchable-block
    .switched-state
      display: none
    &.adding, &.deleting
      .switched-state
        display: block
      .initial-state
        display: none
  ul
    list-style: none
  .story-summary
    .item
      +clearfix
      line-height: 18px
      margin-bottom: 8px
    .story-link
      display: block
      float: left
      width: 20px
      height: 18px
      margin-right: 5px
      background: url('/public/images/icons/link_icon.png')
    .story-id
      float: left
      height: 18px
    .story-type, .story-points, .story-state
      float: right
      text-transform: capitalize
  .story-form
    margin-bottom: 20px
  .story-tasks
    margin-bottom: 20px
  .story-comments
    margin-bottom: 20px
  .story-attachments
    margin-bottom: 20px
  .story-deleting    
    margin-bottom: 20px
      
      