$brand-color: #ff0078  //#c10565

h1
  font-size: 40px

h2
  font-size: 23px

h3
  font-size: 16px

h4
  font-size: 14px
  margin: 0

p
  margin: 0

a
  color: #156ac9
  text-decoration: none
  &:hover
    color: #ff6600

.text-brand
  color: $brand-color
