//@import url(//fonts.googleapis.com/css?family=Exo:300,500)

a
  color: #156ac9
  text-decoration: none
  &:hover
    color: #ff6600

h2
  font-size: 25px

h3
  font-size: 16px

small
  font-size: 12px