input[type="text"],
input[type="password"],
input[type="search"],
textarea {
    width: 100%;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255, 0.4);
    border-radius: 3px;
    border: 1px solid #9c9c9c;
    font-family: arial, sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    box-shadow: 0 0 0 2px rgba(6,126,176, 0.2), 0 1px 1px rgba(0,0,0,0.1) inset;
    border-color: #067eb0;
}

select {
    padding: 2px;    
    vertical-align: middle;
}

textarea {
    min-height: 40px;
    min-width: 100%;
    max-width: 100%;
    max-height: 400px;
}

.options select,
.options .value {
    display: inline-block;
    width: 100px;
    text-align: left;
}

.options .label {
    width: 70px;
    text-align: right;
    color: #999;
    font-size: 11px;
}

option {
    padding: 0 3px 0 5px;
}

input[type="search"] {
    margin-top: 4px;
    padding: 2px;
}

fieldset {
    border: 1px solid #A4A4A4;
    box-shadow: 0 0 1px #ccc inset;
}

legend {
    margin: -15px 0 0;
    padding: 0 10px;
    font-weight: bold;
    background-color: #f4f4f4;
    text-shadow: 0 1px 0 #fff;
}

.editable-textarea textarea {
    margin-bottom: 10px;
}