.button {
    display: inline-block;
    padding: 3px 10px;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255,255,255, 0.4) inset, 
                0 1px 1px rgba(80,80,80, 0.3),
                0 0 0 2px rgba(80,80,80, 0.1);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0.32) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.32)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.32) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background-image: linear-gradient(top, rgba(255,255,255,0.32) 0%,rgba(255,255,255,0) 100%); /* W3C */
    color: #fff;
    cursor: pointer;
}

.button.tiny {
    padding: 2px 7px;
    font-size: 11px;
}

.button.large {
    padding: 7px 25px;
    font-size: 15px;
}

.button.default {
    border: 1px solid #afafaf;
    background-color: #f5f5f5;
    color: #3a3a3a;
    box-shadow: none;
}

.button.default.settings-btn {
    position: relative;
    top: -1px;
    padding-left: 25px;
    background: #f5f5f5 url(../images/settings.png) no-repeat 7px 45%;
}

.button.primary {
    border: 1px solid #40627B;
    background-color: #3a6f99;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.button.success {
    border: 1px solid #44921c;
    background-color: #52af22;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.button.danger {
    border: 1px solid #aa1111;
    background-color: #bb3333;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.button.default:hover {
    background-color: #fff;
    border: 1px solid #b0b0b0;
    color: #333;
}

.button.primary:hover {
    border-color: #507B9B;
    background-color: #659AC2;
    color: #fff;
}

.button.danger:hover {
    border: 1px solid #bb1111;
    background-color: #cc3333;
    color: #fff;
}

.button.success:hover {
    background-color: #59be25;
    color: #fff;
}

.button:active {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.2) inset, 0 0 0 2px rgba(80,80,80, 0.1);
}

.button.default:active {
    background-color: #ddd;
}

.button.primary:active {
    background-color: #345d8e;
}

.button.success:active {
    background-color: #4ea700;
}

.button.danger:active {
    background-color: #aa3333;
}

.button.disabled,
.button:disabled,
.button.disabled:hover {
    background-color: #e8e8e8;
    border-color: #999;
    color: #999;
    text-shadow: 0 1px 0 #fff;
    cursor: default;
    box-shadow: none;
}
