input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 2px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3) inset, 0 1px 0 rgba(255,255,255, 0.4);
    border-radius: 6px;
    border: 1px solid #999;
    font-family: arial, sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

select {
    padding: 2px;
}

option {
    padding: 0 3px 0 5px;
}