body {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

body a#fdbk_tab {
  top: 40%;
}

.forkme {
  width: 141px;
  height: 141px;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  background: url(/images/forkme.png) no-repeat 0 0;
}

.space-block {
  min-height: 450px;
  background: url('/images/space.jpg') no-repeat;
  background-size: cover;
  padding: 27px 0 40px 0;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.rocket {
  margin-left: 80px;
  transform:rotate(45deg);
  -o-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.features-block {
  padding: 20px 0 40px 0;
  background: url('/images/bg.png');
}

.footer-block {
  text-align: right;
  font-size: 12px;
  padding: 5px 0px;
  background: #020e1e;
}

.team-block {
  background: url('/images/team_bg.jpg');
}

.team-block .wrapper {
  position: relative;
  width: 980px;
}

.team-member {
  width: 25%;
  height: 170px;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.team-member em {
  font-style: italic;
  font-size: 12px;
  line-height: 10px;
}

.team-block .sopli {
  padding: 20px 0 0 0;
  background: url('/images/sopli.png') no-repeat;
}

.vasiliev {
  padding-left: 30px;
  padding-top: 5px;
  background: url('/images/AV.png') no-repeat left 50px;
}

.gorshkova {
  padding-left: 35px;
  background: url('/images/AG.png') no-repeat center 50px;
}

.chaplinsky {
  padding-left: 120px;
  padding-top: 65px;
  background: url('/images/ACh.png') no-repeat 10px 50px;
}

.lyashenko {
  padding-left: 65px;
  padding-top: 10px;
  background: url('/images/TL.png') no-repeat right 50px;
}

.first-team {
  position: absolute;
  top: 30px;
}

.first-team em {
  font-size: 12px;
  font-style: italic;
}

.prokopiev {
  left: 0;
}
.gamov {
  right: 185px;
  top: 35px;
}
.musayeva {
  top: 25px;
  right: 40px;
}