html, body {
    height: 100%;
}

html {
    font: 62.5%/1.4 arial, sans-serif;
}

body {    
    min-width: 980px;
    font-size: 1.2rem;
    background: #111 url(../images/black-bg.png) repeat 0 -1px;
	color: #000;    
}

a {
    color: #0098c7;
}

a:hover {
    color: #006b8d;
}

h2, .h2 {
    font-size: 1.8rem;
}

h3, .h3 {
    font-size: 1.4rem;
}

.txt-right {
    text-align: right;
}

.page {
    background: #eee url(../images/bg.jpg) repeat 0 0;
}

.logo {
    position: relative;
    height: 121px;
}

.motto {
    position: absolute;
    left: 110px;
    bottom: 0;
    width: 155px;
    height: 29px;
    background: url(../images/motto.png) no-repeat 0 0;
    text-indent: -9000px;
}

.download-box {
    position: absolute;
    bottom: -55px;
    z-index: 3;
}

.download {
    display: block;
    width: 262px;
    height: 62px;
    overflow: hidden;
    text-indent: -9000px;
    background: url(../images/download.png) no-repeat 0 0;
}

.download:hover {
    background-position: 0 -63px;
}

.mac {
    padding-left: 35px;
    padding-top: 2px;
    background: url(../images/apple.png) no-repeat 0 0;
    color: #fff;
}

.version {
    margin-top: 3px;
    color: #7f7f7f;
}

.forkme {
    width: 141px;
    height: 141px;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/forkme.png) no-repeat 0 0;
}

.developers img {
    vertical-align: -0.6rem;
    margin-left: 8px;
}

.social {
    position: absolute;
    top: 40px;
    left: 222px;
}

.social a {
    margin-left: 5px;
}

.slides-holder {
    position: relative;
    margin-left: -5px;
    width: 619px;
    height: 447px;
    padding: 54px 9px 0;
    background: url(../images/window.png) no-repeat 0 0;
}

.slider-nav .prev, .slider-nav .next {
    position: absolute;
    top: 219px;
    width: 30px;
    height: 62px;
    overflow: hidden;
    background: url(../images/slide-nav.png) no-repeat 0 0;
}

.slider-nav .next {
    right: -21px;
    background-position: -30px 0;
}

.slider-nav .next:hover {
    background-position: -30px -62px;
}

.slider-nav .prev {
    left: -21px;
}

.slider-nav .prev:hover {
    background-position: 0 -62px;
}

.pages {
    padding-top: 10px;
    text-align: center;
    position: relative;
    z-index: 5;
}

.pages a {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 0 4px;
    text-indent: -9000px;
    background-color: #777;
    border-radius: 8px;
}

.pages a.activeSlide {
    background-color: #000;
}

/* features */
.features li {
    padding-left: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    background: url(../images/bullet.png) no-repeat 0 4px;
}

.features li p {
    font-size: 1.4rem;
    line-height: 1.2;
    color: #7f7f7f;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.7);
}

.wrapper {
    width: 940px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

.outer:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.gloss {
    width: 720px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    right: -20px;
    background: url(../images/gloss.png) no-repeat 0 100%;
}

/* footer */
footer {
    height: 174px;
    color: #7f7f7f;
    background: url(../images/footer-bg.png) repeat-x 0 0;
}

footer .outer {
    position: relative;
    z-index: 2;
}

footer .wrapper {
    height: 174px;
}