body {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

.space-block {
  min-height: 450px;
  background: url('/images/space.jpg');
  padding: 27px 0;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.rocket {
  margin-left: 80px;
  transform:rotate(45deg);
  -o-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}

.features-block {
  padding: 20px 0;
  background: url('/images/bg.png');
}

.footer-block {
  text-align: right;
  font-size: 12px;
  padding: 5px 0px;
  background: #020e1e;
}