/* colors */
.positive {
    color: #238c00;
}

.negative {
    color: #cc0000;
}

.neutral {
    color: #666;
}

.pale {
    color: #999;
}

.opaque {
    color: #333;
}

/* links */
a {
	color: #135785;
	text-decoration: none;
}

a:hover, a:active {
	color: #c70000;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

abbr {
    cursor: help;
}

p {
    margin-bottom: 10px;
}

.holder {
    position: relative;
}

.wrap-text {
    word-wrap: break-word;
}

.not-implemented {
    opacity: 0.4;
}

.status {
    padding: 3px 5px;
    font-size: 10px;
    text-transform: uppercase;
    border: 1px solid rgba(0,0,0, 0.3);
    text-shadow: 0 1px 0 rgba(255,255,255, 0.7);
    border-radius: 10px;
}

/* boxes */
.current-box {
    background-color: #FFF8D7;
}

.icebox-box {
    background-color: #E4EFF7;
}

.done-box {
    background-color: #DAEBCF;
}

.grey-box {
    background-color: #f2f2f2;
    border-left: 1px solid #aaa;
    box-shadow: 0 1px 7px rgba(0,0,0, 0.2) inset;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.7)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 100%);
    background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 100%);
}

.default-box {
    background-color: #f4f4f4;
    border: 1px solid #A5A5A5;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.2);
}

.title {
    position: relative;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(0,0,0, 0.5);
    border-top: 1px solid rgba(255,255,255, 0.8);
    border-bottom: 1px solid rgba(0,0,0, 0.4);
    color: #fff;
    background: rgb(181,186,191);
    background: -moz-linear-gradient(top,  rgba(181,186,191,1) 0%, rgba(123,133,144,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,186,191,1)), color-stop(100%,rgba(123,133,144,1)));
    background: -webkit-linear-gradient(top,  rgba(181,186,191,1) 0%,rgba(123,133,144,1) 100%);
    background: linear-gradient(top,  rgba(181,186,191,1) 0%,rgba(123,133,144,1) 100%);
}

.list li {
    padding: 4px 10px;
    border-top: 1px solid rgba(255,255,255, 0.8);
    border-bottom: 1px solid rgba(0,0,0, 0.2);
}

.list.comments li,
.list.tasks li {
    padding: 6px 0;
}

.list li.current-box:hover {
    background-color: #e4dec3;
}

.list li.done-box:hover {
    background-color: #bfceb6;
}

.list li.icebox-box:hover {
    background-color: #cbd5dc;
}

.list li.current-box.active {
    box-shadow: 0 1px 2px rgba(0,0,0, 0.1) inset;
    background-color: #e4dec3;
    border-top: none;
}

.list li.done-box.active {
    box-shadow: 0 1px 2px rgba(0,0,0, 0.1) inset;
    background-color: #bfceb6;
    border-top: none;
}

.list li.icebox-box.active {
    box-shadow: 0 1px 2px rgba(0,0,0, 0.1) inset;
    background-color: #cbd5dc;
    border-top: none;
}

.list li.current-box,
.list li.icebox-box,
.list li.done-box {
    cursor: pointer;
}

.ui-state-highlight {
    height: 26px;
    margin: 2px;
    border: 2px dashed rgba(0,0,0, 0.2) !important;
}

.empty {
    border-left: 1px solid rgba(0,0,0, 0.2);
    background: url(../images/empty.png) no-repeat center center;
}

.feature-icon {
    display: inline-block;
    vertical-align: -2px;
    margin-right: 2px;
    width: 14px;
    height: 14px;
    background: url(../images/star.png) no-repeat 0 0;
}

.bug-icon {
    display: inline-block;
    vertical-align: -2px;
    margin-right: 2px;
    width: 14px;
    height: 14px;
    background: url(../images/bug.png) no-repeat 0 0;
}

.chore-icon {
    display: inline-block;
    vertical-align: -2px;
    margin-right: 2px;
    width: 14px;
    height: 14px;
    background: url(../images/chore.png) no-repeat 0 0;
}

.feature-icon-title {
    padding-left: 24px;
    background: url(../images/star.png) no-repeat 0 4px;
}

.bug-icon-title {
    padding-left: 24px;
    background: url(../images/bug.png) no-repeat 0 4px;
}

.chore-icon-title {
    padding-left: 24px;
    background: url(../images/chore.png) no-repeat 0 4px;
}

.sortable_link {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/move.png) no-repeat 0 0;
    cursor: pointer;
}

.new-link {
    padding-left: 20px;
    background: url(../images/new.png) no-repeat 0 50%;
    color: #333;
}

.new-link span {
    border-bottom: 1px dotted;
}

.error-text {
    padding: 4px 0 2px 23px;
    background: url(../images/error.png) no-repeat 0 50%;
}

/* tasks */
.tasks li:first-child,
.comments li:first-child {
    border-top: 0;
}

.tasks li:last-child,
.comments li:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

li.account {
    padding: 10px;
    border: 1px solid #dedede;
    background-color: #fff;
}

.adding .view,
.add {
    display: none;
}

.adding .add {
    display: block;
}

.sort_project, .sort_task {
    position: absolute;
    right: 5px;
    top: 5px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/sort.png) no-repeat 0 0;
    cursor: pointer;
}

.sort_task {
    position: static;
    vertical-align: -2px;
    background: url(../images/sort-dark.png) no-repeat 0 0;
}

.edit_task_link,
.delete_task_link {
    margin-left: 5px;
}

.toggle_project {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 19px;
    background: url(../images/toggle.png) no-repeat 0 -23px;
    cursor: pointer;
}

.hide-project .toggle_project {
    background-position: 0 0;
}

.clippy-box {
    position: absolute;
    top: 0;
    left: -800px;
}

.clippy-holder {
    position: relative;
}

.clippy-holder:hover .clippy-box {
    left: 80px;
}

.filter a {
    position: relative;
    margin-left: 15px;
    font-weight: normal;
    text-shadow: none;
}

.filter a:hover {
    color: #c70000;
}

.filter a:first-child {
    padding-left: 0;
}

.filter a:before {
    content: '';
    display: block;
    position: absolute;
    left: -12px;
    top: 6px;
    width: 4px;
    height: 4px;
    background-color: #777;
    box-shadow: 0 -1px 0 rgba(255,255,255, 0.3);
    border-radius: 7px;
}

.filter a:first-child:before {
    display: none;
}

.filter a.active {
    border: 0;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.4);
    cursor: default;
}

.filter a.active:hover {
    color: inherit;
}

.tags {
    padding: 4px 0 4px 20px;
    margin-right: 5px;
    color: #777;
    background: url(../images/tag3.png) no-repeat 0 50%;
}

.tags-box {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid rgba(0,0,0, 0.2);
    box-shadow: 0 1px 0 rgba(255,255,255, 0.8) inset;
}

.tags-box a {
    color: #000;
    padding-bottom: 1px;
    border-bottom: 1px dotted;
}

.tags-box a:hover {
    color: #c70000;
}


/* leopard added, vasiliy will change by best practice. 
Vasiliy saw and decided to leave it as is for now :) */

.change_story_box .loader, .change_story_box.loading .main {
  display:none;
}

.change_story_box.loading .loader {
  display:block;
}

.project_cell.hide-project ul.list{
  display:none;
}

.story_description {
  white-space: pre;
}

.action_block .loader, .action_block .add, 
.action_block.loading .main, .action_block.adding .main {
  display:none;
}

.action_block.loading .loader, .action_block.adding .add {
  display:block;
}

.task_block .edit, .task_block.editing .main, .task_block .loader, .task_block.loading .main {
  display:none;
}

.task_block.editing .edit, .task_block.loading .loader {
  display:block;
}

.filter_tasks.active {
  color: #000;
}

.tasks_list.completed li.uncompleted, .tasks_list.uncompleted li.completed{
  display: none;
}

#loginPage, #addStoryView, #storyInfo {
  display: none;
}

.fine_delete .fine_delete_confirm, .fine_delete.delete_confirm .fine_delete_main {
  display: none;
}

.fine_delete.delete_confirm .fine_delete_confirm {
  display: block;
}
