body {
  font-size: 16px;
  color: #fff;
}

a {
  color: #156ac9;
  text-decoration: none;
}

a:hover {
  color: #ff6600;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 16px;
}

small {
  font-size: 12px;
}

.hint {
  font-style: italic;
  position: relative;
  top: -3px;
}

.railsware {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #ff0000;
}

.download-button {
  display: block;
  width: 358px;
  height: 153px;
  margin-top: -70px;
  background: url('/images/button.png');
}

.download-button:hover {
  background-position: 0 -153px;
}

.download-button:active {
  background-position: 0 -306px;
}