html, body
  height: 100%
  
.header
  height: 32px
  padding: 5px 10px
  overflow: hidden
    
.header, .footer
  background: #28313f
  color: #fff
  a
    color: #fff

.body
  background: #d5d1cc
  
.container
  overflow-y: auto
  padding: 0 5px
  
.footer
  height: 19px
  padding: 3px 10px