html, body
  height: 100%
  
.header
  height: 32px
  padding: 5px 10px
  overflow: hidden
    
.header, .footer
  background: #28313f
  color: #fff
  a
    color: #fff

.body
  background: #d5d1cc
  
.container
  overflow-y: scroll
  padding: 0 5px
  &::-webkit-scrollbar 
    width: 6px
    background: rgba(255, 255, 255, .2)
    position: absolute
  &::-webkit-scrollbar-thumb
    background-color: rgba(0, 0, 0, 0.2)
    +border-radius(3px)
  
.footer
  height: 19px
  padding: 3px 10px