.projects-list
  margin: 5px 10px
  list-style: none
  .project
    padding: 4px 0
    border-bottom: 1px solid #e6e3e1
    border-top: 1px solid #c0bcb8
    &:first-child
      border-top: 0
    .project-inner
      padding: 8px
      position: relative
      +clearfix
    .project_link
      padding-top: 5px
      display: block
    .icon
      float: left
      width: 32px
      height: 32px
      margin-right: 10px
      +border-radius(16px)
      overflow: hidden
      img
        width: 32px
        height: 32px
    .last-col
      overflow: hidden
    .project-name
      white-space: nowrap
      display: inline-block
      font-size: 16px
      line-height: 14px
      color: #000
      margin-right: 10px
    .project-velocity
      font-size: 11px
      color: #000
    .project-adds
      right: 0
      top: 0
      height: 20px
      padding: 14px 10px
      background: #D5D1CC
      position: absolute
    .stories-count
      display: inline-block
      font-size: 12px
      height: 20px
      color: #777
    .drag-link, .project-velocity
      display: none
    &.active .project-inner, .project-inner:hover 
      background: #596475
      +border-radius(3px)
      +box-shadow(0 2px 2px rgba(0,0,0,.3))
      .project-adds
        background: #596475
      .project-name, .stories-count
        color: #fff
      .drag-link
        background: url('/public/images/icons/draggable.png')
        display: inline-block
        height: 20px
        width: 19px
        margin: 0 5px
      .project-velocity
        display: block
    &.active .project-inner .project-adds
      right: -14px
      padding-right: 24px
      background: url('/public/images/icons/project_arrow.png') no-repeat right 4px
        
.user-stories-tabs
  list-style: none
  li
    float: left
    a
      display: inline-block
      +vertical-gradient(#ececec, #b4b4b4)
      padding: 2px 6px
      margin-left: -1px
      color: #000
      border: 1px solid #b8b8b8
      border-bottom: 1px solid #928f8b
    &:first-child a
      +border-radius(4px 0 0 4px)
    &:last-child a
      +border-radius(0 4px 4px 0)
    &.active a
      background: #666666
      color: #fff
      border-color: #444444
      
.stories-tabs
  list-style: none
  li
    float: left
    width: 25%
    a
      text-align: center
      display: block
      padding: 4px 0
      margin-left: -1px
      color: #000
      border: 1px solid #b4b4b4
      border-bottom: none
    &:first-child a
      +border-radius(3px 0 0 0)
    &:last-child a
      +border-radius(0 3px 0 0)
    &.all a
      +vertical-gradient(#ececec, #b4b4b4)
    &.done a
      +vertical-gradient(#d9ebce, #c5d5bb)
    &.current a
      +vertical-gradient(#f4f4d0, #ddddbc)
    &.icebox a
      +vertical-gradient(#e5eff8, #cfd9e1)
    &.active a
      color: #fff
      +vertical-gradient(#696f79, #838b97)

.stories-list
  margin-left: -1px
  .story
    padding: 7px 10px
    border-bottom: 1px solid #bbb
    border-top: 1px solid #fff
    +box-shadow(0 0 4px rgba(0,0,0,.2))
    .label
      color: #009900
    .story-title
      word-wrap: break-word
      color: #000
    &.accepted
      background: #d9ebce
    &.unstarted
      background: #F4F4F4
    &.delivered, &.started, &.finished, &.rejected
      background: #f4f4d0
    &.unscheduled
      background: #e5eff8
      
input.search
  width: 100%
  +border-radius(4px)
  +box-sizing
  +box-shadow(inset 0 1px 2px rgba(0,0,0,.3))
  padding: 3px 4px
  font-size: 11px
  border: 1px solid #979797
  border-bottom: 1px solid #efeeed