.projects-list
  margin: 5px
  list-style: none
  .project
    background: #d5d1cc
    border-bottom: 1px solid #e6e3e1
    border-top: 1px solid #c0bcb8
    padding: 4px 0
    .project_link
      display: block
      padding: 5px
      +clearfix
      .icon
        float: left
        margin-right: 10px
        width: 32px
        height: 32px
        +border-radius(16px)
        overflow: hidden
        img
          width: 32px
          height: 32px
      .project-name
        display: inline-block
        margin-top: 5px
        font-size: 16px
        color: #000
        margin-right: 10px
    .settings-link, .drag-link
      display: none
    &.active .project_link, .project_link:hover 
      background: #596475
      +border-radius(3px)
      +box-shadow(0 2px 2px rgba(0,0,0,.3))
      .project-name
        color: #fff
        
.user-stories-tabs
  list-style: none
  li
    float: left
    a
      display: inline-block
      +vertical-gradient(#ececec, #b4b4b4)
      padding: 1px 6px
      margin-left: -1px
      color: #000
      border: 1px solid #b8b8b8
      border-bottom: 1px solid #928f8b
    &:first-child a
      +border-radius(4px 0 0 4px)
    &:last-child a
      +border-radius(0 4px 4px 0)
    &.active a
      background: #666666
      color: #fff
      border-color: #444444
      
.stories-tabs
  list-style: none
  li
    float: left
    width: 25%
    a
      text-align: center
      display: block
      padding: 2px 0
      margin-left: -1px
      color: #000
      border: 1px solid #b4b4b4
      border-bottom: none
    &:first-child a
      +border-radius(3px 0 0 0)
    &:last-child a
      +border-radius(0 3px 0 0)
    &.all a
      +vertical-gradient(#ececec, #b4b4b4)
    &.done a
      +vertical-gradient(#d9ebce, #c5d5bb)
    &.current a
      +vertical-gradient(#f4f4d0, #ddddbc)
    &.icebox a
      +vertical-gradient(#e5eff8, #cfd9e1)
    &.active a
      color: #fff
      +vertical-gradient(#696f79, #838b97)

.stories-list
  margin-left: -1px
  .story
    padding: 5px 10px
    border-bottom: 1px solid #bbb
    border-top: 1px solid #fff
    a
      color: #000
    &.finished, &.accepted
      background: #d9ebce
    &.unstarted
      background: #F4F4F4
    &.delivered, &.started
      background: #f4f4d0
    &.unscheduled
      background: #e5eff8
      
input.search
  width: 100%
  +border-radius(4px)
  +box-sizing
  +box-shadow(inset 0 1px 2px rgba(0,0,0,.3))
  padding: 2px 4px
  font-size: 11px
  border: 1px solid #979797
  border-bottom: 1px solid #efeeed