.projects-list
  margin: 5px
  list-style: none
  .project
    background: #d5d1cc
    border-bottom: 1px solid #e6e3e1
    border-top: 1px solid #c0bcb8
    padding: 4px 0
    .project_link
      display: block
      padding: 5px
      +clearfix
      .icon
        float: left
        margin-right: 10px
        width: 32px
        height: 32px
        +border-radius(16px)
        overflow: hidden
        img
          width: 32px
          height: 32px
      .project-name
        +inline-block
        margin-top: 5px
        font-size: 16px
        color: #000
        margin-right: 10px
    .settings-link, .drag-link
      display: none
    &.active .project_link, .project_link:hover 
      background: #596475
      +border-radius(3px)
      +box-shadow(0 2px 2px rgba(0,0,0,.3))
      .project-name
        color: #fff
