<div class="promo">
  <div class="container">
    <img src="/images/logo.png" alt="Piro Logo" />
    <div class="rocket-box row">
      <div class="promo-info col1of2">
        <h1><span class="text-brand">Your Rocket</span> for Pivotal Tracker accouns</h1>
        <a href="https://chrome.google.com/webstore/detail/piro/lcghdbjcpflnoionageianbeldmlciip" class="download-button"></a>
        <div class="social left mrm">
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=183281841787711";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-like" data-href="http://piro.railsware.com" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial"></div>
        </div>
        <div class="social left">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="railsware" data-hashtags="piro">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="social left">
          <g:plusone></g:plusone>
          <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
          </script>
        </div>
      </div><!-- /promo-info -->
      <div class="col1of2">
        <img src="/images/rocket.png" alt="" class="rocket" />
      </div>
    </div><!-- /rocket-box -->
  </div><!-- /container -->
</div><!-- /promo -->

<div class="features">
  <div class="container">
    <div class="features-list row">
      <div class="col1of2">
        <div class="item mbl">
          <img src="/images/icon-multilogin.png" alt="" class="left prm"/>
          <h2>Multilogin</h2>
          <p>Switch between accounts in a moment.</p>
        </div>
        <div class="item mbl">
          <img src="/images/icon-stories.png" alt="" class="left prm"/>
          <h2>Your stories</h2>
          <p>See all stories owned by you or stories requested by you.</p>
        </div>
      </div>
      <div class="col1of2">
        <div class="item mbl">
          <img src="/images/icon-products.png" alt="" class="left prm"/>
          <h2>All projects</h2>
          <p>Browse stories related to you across all projects without switching.</p>
        </div>
        <div class="item mbl">
          <img src="/images/icon-open.png" alt="" class="left prm"/>
          <h2>Open source</h2>
          <p>We share PIRO with anyone interested.</p>
        </div>
      </div>
    </div><!-- /feature-list -->

    <div class="example left-aligned row mbm">
      <div class="screen">
        <img src="/images/feature01.png" alt="" />
      </div>
      <h2 class="desc col1of4">Multi-account, multi-projects, multi-stories</h2>
    </div>

    <div class="example right-aligned row mbm">
      <div class="screen">
        <img src="/images/feature02.png" alt="" />
      </div>
      <h2 class="desc col1of4 mtl">Many flexible filters for stories</h2>
    </div>

    <div class="example left-aligned row mbm">
      <div class="screen">
        <img src="/images/feature03.png" alt="" />
      </div>
      <h2 class="desc col1of4 mtl">Omnibox search by all accounts</h2>
    </div>

    <div class="example left-aligned row mbm">
      <div class="screen">
        <img src="/images/feature04.png" alt="" />
      </div>
      <h2 class="desc col1of4 mtl">Integration with context menu</h2>
    </div>

    <div class="example left-aligned row mbm">
      <div class="screen">
        <img src="/images/feature05.png" alt="" />
      </div>
      <h2 class="desc col1of4 mtl">Personalize your project</h2>
    </div>

    <div class="example right-aligned row mbm">
      <div class="screen">
        <img src="/images/feature06.png" alt="" />
      </div>
      <h2 class="desc col1of4 mtl">Offline read mode</h2>
    </div>

    <div class="example left-aligned row mbm">
      <div class="screen">
        <img src="/images/feature07.png" alt="" />
      </div>
      <h2 class="desc col1of4 mtl"><a href="http://en.wikipedia.org/wiki/MoSCoW_Method">MoSCoW</a> Prioritization by labels</h2>
    </div>

    <div class="example right-aligned row">
      <div class="screen">
        <img src="/images/feature08.png" alt="" />
      </div>
      <h2 class="desc col1of4 mtl">Custom Copy Paste format</h2>
    </div>

  </div><!-- /container -->
</div><!-- /features -->

<div class="footer">
  <div class="container">
    <div class="left prl">
      <%= link_to '', 'http://railsware.com', class: 'rw-logo' %>
    </div>
    <div class="last-col">
      <div class="row pbm">
        <div class="col1of4">
          <h4 class="intensive">Products</h4>
          <ul class="footer-links">
            <li><a href="http://pivotalbooster.com/">Pivotal Booster</a></li>
            <li><a href="http://piro.railsware.com/">Piro</a></li>
            <li><a href="https://mailtrap.io">Mailtrap</a></li>
          </ul>
        </div>
        <div class="col1of4 prm">
          <h4 class="intensive">Experience</h4>
          <ul class="footer-links">
            <li><a href="http://railsware.github.io">Open Source</a></li>
            <li><a href="http://railsware.com/blog">Blog</a></li>
          </ul>
        </div>
        <div class="col1of4 prm">
          <h4>Contact</h4>
          <ul class="footer-links">
            <li><a href="tel:+1(646)3974918">phone: +1 (646) 397 4918</a></li>
            <li>
              <a href="skype:sergey.korolev?chat" class="skype-link"></a>
              <a href="mailto:contact@railsware.com" class="email-link"></a>
            </li>
          </ul>
        </div>
        <div class="col1of4 prm">
          <h4>Social</h4>
          <a href="http://www.facebook.com/railsware" target="_blank" class="facebok-link"></a>
          <a href="https://twitter.com/#!/railsware" target="_blank" class="twitter-link"></a>
        </div>
      </div>
      <div class="row copy mrm">
        <div class="col1of4">
          &copy; 2006-<%= Time.now.year %> Railsware LLC.
        </div>
        <div class="col3of4">
          <p class="text">Railsware is a leading Ruby on Rails company which provides contracting and consulting services around the world. We are among the premium ruby on rails companies on the US market and our ROR development company is the exeperts at Ruby, Rails, HTML 5, and CSS3.</p>
        </div>
      </div><!-- /copy -->
    </div><!-- /last-col -->
  </div><!-- /container -->
</div><!-- /footer -->
